body {
  background: radial-gradient(circle, #3b1d5e 0%, #21123c 100%);
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

.app {
  text-align: center;
  width: 450px;
  margin: 5% auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  position: relative;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.answer-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

button {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 1rem;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.showScore-section {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  
}

@media all and (max-width: 700px) {
  .app {
    padding: 5px;
    width: 90%;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
  button {
    width: 100%;
    min-width: 60px;
  }
}
